@import './icons.css';
@import './colors.css';

* {
  margin: 0;
}

body {
  font-family: 'Fira Code', monospace, 'Arial';
  margin: 0;
  padding: 0;
  height: 100vh;
  color: var(--color-four);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.header {
  background-color: var(--color-one);
  height: 30%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header .greeting {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 600;
}

.header .role {
  font-size: 30px;
}

.header .role span {
  text-decoration: underline;
}

.main {
  height: 50%;
  padding: 30px;
}

.main .photo {
  position: absolute;
  left: 70%;
  top: 28%;
  width: 200px;
  box-shadow: 0 0 0 5px white;
  border-radius: 50%;
}

.main .photo img {
  border-radius: 50%;
  width: 100%;
}


.main .summary {
  max-width: 70%;
  line-height: 1.5;
  font-size: 20px;
  margin-bottom: 75px;
}

.main .social .description {
  font-size: 18px;
}

.main .social .username {
  color: var(--color-two);
  font-weight: bold;
}

.main .social ul {
  margin-top: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .social li {
  list-style: none;
  margin: 0 30px;
  cursor: pointer;
}

.main .social .social-link {
  text-decoration: none;
  color: var(--color-four);
  font-size: 45px;
}

.main .social .social-link:hover {
  color: var(--color-two);
}

.footer {
  background-color: var(--color-four);
  color: white;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.footer .info {
  margin-right: 30px;
}


@media screen and (min-width: 1440px) {
  .header .greeting {
    font-size: 60px;
  }

  .header .role {
    font-size: 40px;
  }

  .main .photo {
    width: 250px;
    left: 75%;
  }

  .main .summary {
    font-size: 25px;
  }

  .main .social .description {
    font-size: 22px;
  }

  .main .social .social-link {
    font-size: 60px;
  }

  .footer {
    font-size: 19px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    justify-content: center;
    align-items: center;
    height: 150px;
    padding: 20px
  }

  .header .greeting {
    font-size: 25px;
  }

  .header .role {
    font-size: 20px;
  }

  .main {
    margin-top: 130px;
  }

  .main .photo {
    width: 130px;
    top: 20%;
    left: 36%;
  }

  .main .summary {
    max-width: 100%;
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .main .social .description{
    font-size: 17px;
  }

  .footer {
    align-items: center;
    text-align: center;
    font-size: 15px;
  }

  .footer .info {
    margin-right: 0;
  }
}


@media screen and (max-width: 375px) {
  .main .photo {
    left: 34%;
  }

  .main .social ul {
    margin-top: 30px;
  }

  .main .social .social-link {
    font-size: 35px;
  }
}

@media screen and (max-width: 320px) {
  .main .photo {
    left: 32%;
  }
}